$main-color: #333;
$blue-color: #019af0;
$white-color: #fff;
$popup-main-color: #000;
$card-bg: #f2f2f2;

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $main-color;
  // min-width: 1300px;
  //position: relative;
}

* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1040px;
  @media (max-width: 1200px) {
    max-width: 980px;
  }
  // @media (max-width: 992px) {
  //   max-width: 767px;
  // }
}

.main-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  color: #333;
}

.btn {
  align-items: center;
  background: $blue-color;
  border: 0;
  box-shadow: 0px 0px 8px $blue-color;
  color: $white-color;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 22px;
  text-decoration: none;
}

#btnUp {
  background: url("../image/icon_arrow-up.png") no-repeat;
  background-size: cover;
  border: none;
  bottom: 80px;
  display: none;
  height: 51px;
  overflow: hidden;
  position: fixed;
  right: 16px;
  text-decoration: none;
  text-indent: 100%;
  width: 51px;
  z-index: 130;
  cursor: pointer;
}

.form__btn {
  background-color: $blue-color;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px $blue-color;
  color: $white-color;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.form__result,
.form__result-contact {
  display: none;
  text-align: center;
  margin: 15px 0;
}

.form__error,
.form__error-contact {
  display: none;
  text-align: center;
  margin-bottom: 15px;
}

.captcha {
  align-self: flex-start;
  height: 67px;
  margin-bottom: 18px;
  width: 270px;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

//Header
.header {
  background: url("../image/header_bg.jpg") no-repeat 48% top;
  background-size: cover;
  height: 543px;
  margin-bottom: 75px;
  position: relative;
  &__content {
    margin-top: 120px;
    @media (max-width: 570px) {
      margin-top: 50px;
    }
  }

  //Header title
  &__title {
    color: $main-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 48 / 40 * 100%;
    margin: 0 0 22px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__subtitle {
    margin: 0;
  }

  &__btn {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 128px;
    border-radius: 2px;
    width: 200px;
    height: 42px;
  }

  &__btn-text {
    display: inline-block;
    margin-right: 15px;
  }

  &__mouse {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -19px;
  }
}

//Navigation
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  @media (max-width: 570px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__burger {
    display: none;

    @media (max-width: 992px) {
      display: block;
      width: 30px;
      height: 20px;
      position: absolute;
      z-index: 21;
      right: 0;
      margin-right: 10px;
      span {
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        &::before {
          content: "";
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          top: 10px;
        }
        &::after {
          content: "";
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: 10px;
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    @media (max-width: 992px) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 200px;
      height: 300px;
      background-color: $blue-color;
      border-bottom-left-radius: 100%;
      box-shadow: 0px 0px 40px #019af0;
      z-index: 20;
      display: block;
      padding: 60px 30px 0;
      text-align: end;
      transition: all 0.5s ease 0s;
    }
  }
  &__menu-active {
    right: 0;
    transition: all 0.5s ease 0s;
    position: fixed;
  }
  &__item {
    margin-right: 20px;
    @media (max-width: 1200px) {
      margin-right: 15px;
    }
    @media (max-width: 992px) {
      margin-right: 0;
      padding-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $main-color;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s linear;

    &:hover {
      color: $blue-color;
      @media (max-width: 1200px) {
        color: $white-color;
      }
    }
  }
  &__phone {
    @media (max-width: 1200px) {
      padding-left: 30px;
    }
    @media (max-width: 570px) {
      padding: 10px 0 5px 20px;
    }
  }
  &__phone a {
    color: $main-color;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      content: url("../image/icon_phone_black.png");
      height: 15px;
      left: -20px;
      position: absolute;
      top: 2px;
      width: 15px;
    }
  }

  &__social {
    display: flex;
    @media (max-width: 570px) {
      padding: 5px 0;
    }
  }

  &__social-link {
    display: inline-block;
    margin-right: 5px;
    width: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__lang {
    font-size: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    @media (max-width: 992px) {
      margin-right: 150px;
    }
    @media (max-width: 767px) {
      margin-right: 50px;
    }
    @media (max-width: 570px) {
      // padding: 5px 0;
    }
  }

  &__lang-link {
    color: $main-color;
    font-size: 11px;
    padding: 0 6px;
    text-decoration: none;

    &:first-child {
      padding: 0 6px 0 0;
    }

    &:last-child {
      padding: 0 0 0 6px;
    }

    &:hover {
      color: $blue-color;
      font-weight: bold;
    }
  }

  &__lang-border {
    font-size: 11px;
  }
}

// Services
.services {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.card-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 992px) {
    justify-content: space-around;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  margin-right: 30px;
  width: calc(100% / 3 - 20px);
  border-radius: 5px;
  max-width: 326px;
  @media (max-width: 992px) {
    margin: 0 10px 10px;
    flex: 1 1 316px;
  }
  &:nth-child(3n + 3) {
    margin-right: 0;
    @media (max-width: 992px) {
      margin-right: 10px;
    }
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  &__img {
    background: url("https://via.placeholder.com/326x184");
    border-radius: 5px 5px 0 0;
    max-height: 184px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    & img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: $card-bg;
    border-radius: 0 0 5px 5px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 115%;
    text-align: center;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 13.55px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 28px 26px;
    width: 100%;
    @media (max-width: 400px) {
      padding: 0 18px 16px;
    }
  }

  &__item {
    margin-bottom: 11px;
    margin-top: 0;
    position: relative;
    padding-left: 10px;

    &::before {
      content: url("../image/icon_bullet.png");
      height: 4px;
      left: 0;
      position: absolute;
      top: -2px;
      width: 4px;
    }

    &--text {
      width: 100%;
      margin: 0;
      padding: 0 25px 11px;

      &:last-child {
        padding-bottom: 26px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Partner
.partner {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 24px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &__card {
    width: calc(100% / 4 - 23px);
    max-width: 230px;
    @media (max-width: 992px) {
      margin: 0 50px 10px;
      margin-left: calc(10px + (50 - 10) * ((100vw - 320px) / (992 - 320)));
      margin-right: calc(10px + (50 - 10) * ((100vw - 320px) / (992 - 320)));
      flex: 1 1 230px;
    }
  }

  &__img {
    background-position:center center;
    background-size: cover;
    height: 207.3px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    &--one {
      background-image: url("../image/service_partner_1.jpg");
    }

    &--two {
      background-image: url("../image/service_partner_2.jpg");
    }

    &--three {
      background-image: url("../image/service_partner_3.jpg");
    }

    &--four {
      background-image: url("../image/service_partner_4.jpg");
    }
  }

  &__card-title {
    align-items: center;
    background-color: $blue-color;
    border-radius: 0 0 5px 5px;
    color: $white-color;
    display: flex;
    height: 73px;
    justify-content: center;
    text-align: center;
  }
}

//Why
.why {
  margin-bottom: 86px;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
  @media (max-width: 580px) {
    margin-bottom: 30px;
  }

  &__title {
    padding-bottom: 24px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: center;
    width: 100%;

    @media (max-width: 992px) {
      max-width: 135px;
      margin: 10px 20px;
    }
    &:last-child {
      margin-right: 0;
      @media (max-width: 992px) {
        margin: 10px 20px;
      }
    }
  }

  &__img {
    width: 96px;
    height: 96px;
    margin-bottom: 8px;
  }

  &__text {
    width: 100%;
  }
}

//Order
.order {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../image/contact_bg.jpg") center;
  background-size: cover;
  max-height: 614px;
  margin-bottom: 86px;
  position: relative;
  @media (max-width: 580px) {
    background: transparent;
  }
  &__title {
    display: none;
  }

  &__form {
    align-items: center;
    background-color: $card-bg;
    border-radius: 5px;
    box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    //max-height: 700px; //FIXME height:686px
    left: 0;
    padding: 30px 34px 34px;
    position: relative;
    top: -29px;
    width: 416px;
    z-index: 5;
    @media (max-width: 992px) {
      top: 0;
      width: calc(300px + (416 - 300) * ((100vw - 320px) / (992 - 320)));
      padding: calc(12px + (34 - 12) * ((100vw - 320px) / (992 - 320)));
    }
    @media (max-width: 580px) {
      width: 100%;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }

  &__form-title {
    color: $main-color;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__form-subtitle {
    margin: 0 0 20px;
  }

  &__form-label {
    margin-bottom: 2px;
    align-self: flex-start;
  }

  &__form-input {
    background-color: $white-color;
    border: none;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 16px;
    padding: 0 16px;
    width: 100%;
    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
    @media (max-width: 580px) {
      height: 25px;
    }
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &__form-input-file {
    display: none;
  }

  &__form-file {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      margin-bottom: 0;
    }
  }

  &__form-close-file {
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 15px;
    cursor: pointer;

    &:before {
      content: url("../image/icon_delete.png");
      height: 9px;
      position: absolute;
      right: -2px;
      top: 17px;
      width: 9px;
    }
  }

  &__form-file-btn {
    align-items: center;
    align-self: flex-start;
    background-color: $card-bg;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    height: 44px;
    justify-content: center;
    outline: none;
    position: relative;
    width: 187px;
    margin-bottom: 15px;
    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
    &::before {
      content: url("../image/icon_photo.png");
      left: 15px;
      position: absolute;
      top: 10px;
    }
  }

  #select {
    background-image: url("../image/arrow_down.png");
    background-position: 95%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &__form-textarea {
    background-color: $white-color;
    border: 0;
    border-radius: 5px;
    height: 124px;
    margin-bottom: 16px;
    max-height: 124px;
    min-height: 50px;
    padding: 10px 0 0 10px;
    resize: none;
    width: 100%;
    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
    @media (max-width: 580px) {
      height: 50px;
    }
  }

  &__form-btn {
    margin-top: auto;
  }

  &__file {
    margin: 0 0 10px;
  }
}

//Contact
.contact {
  margin-bottom: 50px;
  position: relative;

  &__title {
    margin-top: 0;
    margin-bottom: 62px;
  }

  & > iframe {
    border: 0;
    height: 645px;
    width: 100%;
  }

  &__form {
    position: absolute;
    bottom: 0;
    right: 154px;
    display: flex;
    flex-direction: column;
    background-color: $card-bg;
    //height: 682px;

    width: 416px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 38px 33px;
  }

  &__form-logo {
    width: 148px;
    height: 26px;
    align-self: flex-start;
    margin-bottom: 28px;

    & > img {
      width: 100%;
      height: auto;
    }
  }

  &__form-content {
    display: flex;
    flex-direction: column;

    & > p {
      position: relative;
      font-size: 20px;
      line-height: 110%;
      margin: 0 0 16px;
      padding-left: 25px;

      & > a {
        text-decoration: none;
        color: $main-color;
      }

      &:last-child {
        margin-bottom: 28px;
      }
    }
  }

  &__form-loc {
    &:before {
      content: url("../image/icon_location.png");
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__form-phone {
    &:before {
      content: url("../image/icon_phone_blue.png");
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__form-web {
    &:before {
      content: url("../image/icon_mail.png");
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  hr {
    margin: 0 0 28px;
    width: 100%;
  }

  &__form-title {
    color: $popup-main-color;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  &__form-label {
    color: $popup-main-color;
    margin-bottom: 4px;
  }

  &__form-input {
    background: $white-color;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 10px;
  }

  &__form-textarea {
    background: $white-color;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    height: 108px;
    margin-bottom: 15px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
  }

  &__captcha {
    margin-bottom: 30px;
  }
}

//Footer
.footer {
  background: url("../image/footer_bg.png") center;
  background-size: cover;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
  height: 150px;
  width: 100%;
  padding: 37px 0 71px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__location {
    padding-left: 25px;
  }

  &__phone {
    margin-bottom: 13px;
    position: relative;

    & > a {
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: $blue-color;
    }

    &:before {
      content: url("../image/icon_phone_blue_big.png");
      height: 20px;
      left: -25px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &__adress {
    font-size: 20px;
    line-height: 110%;
    color: $blue-color;
    position: relative;

    &:before {
      content: url("../image/icon_location_big.png");
      height: 20px;
      left: -25px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-color;
  }

  .copyright {
    font-size: 12px;
    line-height: 110%;
    margin: 14px 0 0;
    text-align: right;
  }
}

//Popup
.popup {
  &__inner {
    background-color: $white-color;
    border-radius: 5px;
    margin: 0 auto;
    padding: 37px 176px 52px;
    position: relative;
    max-width: 1040px;
    @media (max-width: 1200px) {
      padding-left: calc(23px + (176 - 23) * ((100vw - 320px) / (1200 - 320)));
      padding-right: calc(23px + (176 - 23) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__bread {
    margin-bottom: 26px;
    color: $blue-color;
  }

  &__close {
    position: absolute;
    top: 29px;
    right: 33px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  &__header {
    background-image: url("../image/popup_bg.jpg");
    background-size: cover;
    align-self: center;
    margin-bottom: 27px;
    width: 100%;
    //height: 185px;
    height: calc(60px + (185 - 60) * ((100vw - 320px) / (1200 - 320)));
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    padding-top: 22px;
    @media (max-width: 1200px) {
      font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__content {
    color: #000;

    & > p:first-child {
      margin-top: 0;
    }

    & > p:last-child {
      margin: 0;
    }
  }

  &__footer {
    width: 148px;
    height: 26px;
    margin-top: 39px;
  }
}

.mfp-close-btn-in .mfp-close {
  z-index: -1;
}
